- url = "http://worldwaypoint.com/googleinc1"
= image_tag "http://qrcode.kaywa.com/img.php?s=5&d=#{url}"

- url = "http://worldwaypoint.com/id/5"
= image_tag "http://qrcode.kaywa.com/img.php?s=5&d=#{url}"

= link_to root_url, root_url(:rss)