= will_paginate @log_requests, :class=>'flickr_pagination'
%table{:width=>"100%"}
  %tr{:style=>"color:white; background-color:#6A6A6A;"}
    %th วันที่
    %th ip
    %th ข้อความ
    %th สถานะ
  - @log_requests.each do |l|
    %tr
      %td= date_thai l.created_at
      %td= l.ip
      %td= html_escape truncate(l.content, :length=>50)
      %td(style="text-align:center;")= l.status