POB Hotel Reservation Notice
%br
Hotel:
= @hotel.code
= @hotel.name
%br
Room:
= @inv_code
%br
Check in:
= @start_on
%br
Check out:
= @end_on
%br
Guarantee:
- @payment_card = @doc.xpath('//xmlns:PaymentCard')
= @payment_card.attribute('CardCode').value
= @payment_card.attribute('CardNumber').value
Expire: 
= @payment_card.attribute('ExpireDate').value
CVV:
= @payment_card.attribute('CVV').try(:value)
%br
Card Holder Name:
= (@payment_card/'CardHolderName').text
%br
Price Summary:
- total= 0
%br
- @start_on.step(@end_on-1) do |d|
  = nbsp(5)
  = d.strftime('%a %b %e, %Y')
  Price
  - rate = @hotel.rate(@inv_code,d)
  - total += rate
  = num(rate)
  THB
  %br
Total Price:
= num(total)
THB
%br
Customer Information:
- @customer= @doc.xpath('//xmlns:Customer')
%br
= nbsp 5
Name:
= (@customer/'NamePrefix').text
= (@customer/'GivenName').text
= (@customer/'Surname').text
%br
= nbsp 5
Phone:
= (@customer/'Telephone').attribute('PhoneNumber').value
%br
= nbsp 5
Email:
= (@customer/'Email').text
%br
= nbsp 5
Address:
- address= (@customer/'Address')
= (address/'AddressLine').text
,
= (address/'CityName').text
,
= (address/'PostalCode').text
,
= (address/'StateProv').text
,
= (address/'CountryName').text
%br
Comment:
- @comment= @doc.xpath('//xmlns:Comment')
= (@comment/'Text').text
