POB Hotel Reservation Notice
%br
Hotel:
= @hotel.code
= @hotel.name
%br
Room:
= @inv_code
%br
Check in:
= @start_on
%br
Check out:
= @end_on
%br
Guarantee:
= @payment_card.attribute('CardCode').value
= @payment_card.attribute('CardNumber').value
Expire: 
= @payment_card.attribute('ExpireDate').value
%br
Card Holder Name:
= (@payment_card/'CardHolderName').text
