!!! XML
%OTA_HotelSearchRS{"xmlns:xsi"=>"http://www.w3.org/2001/XMLSchema-instance", |
  "xmlns"=>"http://www.opentravel.org/OTA/2003/05", |
  "xsi:schemaLocation"=>"http://www.opentravel.org/OTA/2003/05 HotelSearchRS.xsd", |
  :TimeStamp=>Time.now.strftime('%FT%T'), |
  :Target=>TARGET, :Version=>"1.001", :SequenceNmbr=>"1"} |
  
  - if @err
    %Errors
      %Error{:Type=>@err_type}
        = @err
  - else
    %Success
    %Properties
      - @hotels.each do |hotel|
        - next if @start_on && !cover_stay_range(hotel, @start_on, @end_on, @number_of_units)
        %Property{:HotelCode=>hotel.code, :HotelName=>hotel.name, :HotelCodeContext=>hotel.hotel_code_context, :Description=>hotel.description, :Latitude=>hotel.lat, :Longitude=>hotel.lng}
          - contact= hotel.contact_infos.last
          %ContactInfo{:AddressLine=>contact.address, :CityName=>contact.city, :PostalCode=>contact.zip, :StateProv=>contact.state, :CountryName=>contact.country, :PhoneNumber=>contact.phone_number }
          - if @poi_coord
            %RelativePosition{:Direction=>direction(@poi_coord.heading_to hotel.ll), :Distance=>@poi_coord.distance_to(hotel.ll, :formula=>:flat), :DistanceUnitName=>"Kilometers", :Latitude=>hotel.lat, :Longitude=>hotel.lng}
          %MultimediaDescriptions
            - hotel.multimedia_descriptions.each do |m|
              = m.xml
          - unless hotel.facility.blank?
            = hotel.facility
          - if @start_on
            - avails= hotel.availabilities.all(:conditions=>['limit_on>=? AND limit_on<=?',@start_on,@end_on-1],:order=>'limit_on, inv_code')
            %Availabilities
              - avails.each do |availability|
                %Availability{:Date=>availability.limit_on.to_s, :InvCode=>availability.inv_code, :Rate=> availability.rate, :RatePlanCode=> availability.rate_plan_code, :Limit=>availability.booking_limit}
                  = availability.avail.multimedias
    = @criteria.to_s
