POB Hotel Reservation Notice
%br
Hotel:
= @hotel.code
= @hotel.name
%br
Booking ID:
= @booking.id
%br
Room:
= @inv_code
%br
Number of units:
= @number_of_units
%br
Check in:
= @start_on
%br
Check out:
= @end_on
%br
Price Summary:
- total= 0
%br
- @start_on.step(@end_on-1) do |d|
  = nbsp(5)
  = d.strftime('%a %b %e, %Y')
  - rate = @hotel.rate(@inv_code,d)
  - total += rate.to_f * @number_of_units.to_i
  Rate
  = num(rate)
  Price
  = num(rate * @number_of_units.to_i)
  THB
  %br
Total Price:
= num(total)
THB
%br
Hotel Information:
- contact = @hotel.contact_infos.last
%br
= nbsp 5
Hotel:
= @hotel.name
%br
= nbsp 5
Address:
= contact.address
,
= contact.city
,
= contact.state
,
= contact.zip
,
= contact.country
%br
= nbsp 5
Phone:
= contact.phone_number
%br
= nbsp 5
Email:
= contact.email
%br

