<div id="middlenavigation">
  <ul>
    <% modules.each do |m| %>
      <% if gma_module && gma_module.name==m.name %>
        <li class="mc"><%= link_to "<span id='current_module'>#{m.name}</span>","/?module=#{m.code}" %></li>
      <% else %>
        <% if m.code == 'account' %>
          <li class="m"><%= link_to "<span>#{m.name}</span>","/account?module=#{m.code}" %></li>
        <% elsif m.code == 'admin' %>
          <li class="m"><%= link_to "<span>#{m.name}</span>","/gma/logs?module=#{m.code}" %></li>
        <% elsif m.code == 'finance' %>
          <li class="m"><%= link_to "<span>#{m.name}</span>","/finance?module=#{m.code}" %></li>
        <% elsif m.code == 'education' %>
          <li class="m"><%= link_to "<span>#{m.name}</span>","/education/nurseries?module=#{m.code}" %></li>
        <% elsif m.code == 'social' %>
          <li class="m"><%= link_to "<span>#{m.name}</span>","/social/seniors?module=#{m.code}" %></li>
        <% else %>
          <li class="m"><%= link_to "<span>#{m.name}</span>","/?module=#{m.code}" %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <script type="text/javascript">
    $(".mm").click( function(e) {
      $("#middlenavigation").load("/main/modules",
      {module: $('span', this).text()})
      $("#sidebar_menu").load("/main/sidebar",
      {module: $('span', this).text()})
    } )
  </script>
</div>
